textarea {
  width: 99.5%;
  margin-bottom: -5px;
}

hr {
  margin-bottom: 0;
}

.messages-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: calc(100% - 80px)
}

.messages {
  flex: 1 1 auto;
  overflow: auto;
  padding-left: 5px;
  list-style-type: none;
}

.message {
  padding: 10px;
  display: flex;
}

.message img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.user-name {
  font-size: 13px;
  font-weight: 700;
  color: #0084b2;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.text-box p {
  margin: .3em auto;
  font-size: 14px;
  font-weight: 300;
}

.btn {
  display: inline-block;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.send-button {
  margin-bottom: 5px;
  margin-right: 5px;
}

.chatInput {
  border: 1px solid #d6d6d6;
  padding-top: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
