.example-fill-remaining-space {
  flex: 1 1 auto;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.form-container {
  width: 35%;
  margin: auto;
  margin-top: 10%;
}

.mat-card-header-text {
  margin-left: 0
}

.mat-card-footer {
  margin: 0
}

input {
  height: 30px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin: 5px 0 10px 0
}

.mat-card-content {
  margin-bottom: 0;

  + .mat-card-footer {
    margin-top: 16px;
  }
}
